.popup-offer-create {

  .offer-edit-form-container {
    background: #313e4e;
  }
  /* column left */
  .col-l {
    resetMP();
    position: relative;
    height: 100%;
    z-index: 10;

    /* left shadow */
    &:after {
      @media (min-width: 993px) {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 5px;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, transparent 100%);
        z-index: 1;
      }
    }

    .slimScrollBar {
      opacity: 0.2 !important;
      background: #fff !important;
    }

    /* set popup chapter height */
    slide-panels,
    slide-panels > div,
    panel > .active,
    panel > .inactive {
      height: 100%;
    }
  }

  /* column right */
  .col-r {
    position: relative;
    height: 100%;
    padding: 0;
    overflow: auto;

    .slimScrollBar {
      opacity: 0.2 !important;
      background: #000 !important;
    }
  }

  /* FORM ITEMS --------------------------------------------------------------------------------- */
  .form-items {
    display: block;
    height: 100%;
    background: #313e4e;

    /* moment when visible left panel */
    &[is-open="false"] {
      @media (max-width: $md) {
        display: none;
      }

      &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.1);
      }
    }
  }

  .col-xs-12 { width: 100% !important; }

  .pp-form__row,
  df-field { margin-bottom: 15px }

  .pp-form__label,
  df-label {
    color: #fff;
    label:before { color: #fee54b }
    .fa-info { color: #313e4e }
  }

  df-button button { width: 100%; }
  df-error .error { color: #fee54b; }

  /* row with helps */
  .row-helps {
    position: relative;

    .label-help {
      position: absolute;
      top: 0;
      right: 0;
      color: #fee54b;
      font: 14px/1.2 $fontLato;
    }
  }

  /* row add item */
  .row-add-item {
    &.added {
      .gray {
        float: left;
        width: 100%;
        padding-right: 70px;
        text-align: left;
      }
    }

    .gray {
      padding: 0 15px;
      display: block;
      box-sizing: border-box;
    }

    .red {
      float: left;
      width: 42px;
      margin-left: -42px;
      padding: 0;
      text-align: center;
    }
  }

  /* row with datepicker */
  .row-datepicker {

    .to {
      position: absolute;
      left: 50%;
      margin-left: -5.5px;
      color: #fff;
      font-size: 8px;
      line-height: 31px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  /* row with discount */
  .row-discount {

    df-input.percent {
      .symbol-text { display: none }
      input { padding-left: 10px }
    }

    .pp-form__row.disabled { background: transparent }

    .pp-selectbox {
      float: left;
      margin-left: -15px;

      &.small {
        width: 45px;
        margin-left: -60px;
      }

      &.big {
        width: 50%;
        margin-left: 0;
        padding: 0 15px;
        box-sizing: border-box;
        text-align: center;
      }

      .item-selected {
        padding-right: 25px;
      }

        .selected {
          display: none;
        }

      &__list {
        max-height: none;
        box-shadow: 0 2px 7px rgba(0,0,0,.5);
      }
    }
  }

  /* row with text */
  .row-text {
    color: #c9c7ce;
    font: 400 14px / 1.2 $fontLato;
  }

  /* row buttons */
  .row-buttons {

    .tar {
      color: #c9c7ce;
      font-weight: 300;
    }

    .row-link-button {
      text-align: center;
      df-label {
        display: none;
      }

      &.link {

        df-label {
          display: inline-block;
        }

        .pp-btn {
          height: auto;
          width: auto;
          padding: 0;
          line-height: 1.2;
          background: transparent;
          color: #fff;
          font-size: 14px;
          text-decoration: underline;

          &:hover { text-decoration: none; }
          &:disabled { color: #ccc; }
        }
      }
    }
  }

  /* PANEL ITEMS --------------------------------------------------------------------------------- */
  .panel-items {
    display: none;
    position: relative;

    &[is-open="true"] {
      height: 100%;
      background: #313e4e;
      display: block;

      @media (min-width: $md) {
        position: absolute;
        left: 100%;
        top: 170px;
        /*top: 35%;*/
        width: 100%;
        height 350px;
        /*height: 60%;*/
        z-index: 2;
        border-radius: 0 4px 4px 0;
        box-shadow: 5px 0px 10px -2px rgba(0,0,0, 1);
      }
    }

    .close-panel {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #fff;
      font: 300 14px/1 $fontLato;
      cursor: pointer;
    }

    .col-xs-12 { width: 100% !important; }

    .title {
      margin: 15px 0;
      color: #fff;
      font: 14px $fontLato;
    }

    .row-search {
      margin-bottom: 5px;

      input {
        padding-right: 30px;
        border: #0b4270 solid 1px;
      }

      .fa {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -7px;
        width: 18px;
        color: #cccad0;
      }
    }

    .list {
      height: 55%;

      @media (max-width: $md) {
        height: 55vh;
      }

      ul {
        resetMP();
        margin-right: 20px;
      }
    }

    .radio {
      clearfix();
      margin: 0;
      padding: 5px 20px 5px 0;
      border-bottom: 1px solid #fff;
      color: #fff;
      font: 400 14px/1.2 $fontLato;

      label {
        display: block;
        margin-bottom: 0;
        padding: 0 50px 0 35px;
        font: 400 14px/1.2 $fontLato;
      }

      input {
        margin: 3px 0 0 -35px;
        float: left;
      }

      .price {
        float: right;
        margin-right: -50px;
      }
    }

    .row-buttons {
      text-align: right;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 15px;
      white-space: nowrap;

      .pp-btn {
        font-size: 16px;
        vertical-align: top;
        margin: 3px 0 0 3px;
        padding: 0 5px;
      }
    }
  }

  input:disabled,
  textarea:disabled,
  a.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/*.submit-btn:disabled,*/
/*.submit-btn:disabled:hover {*/
  /*background: #5ec700 !important;*/
  /*color: #ddd !important;*/
/*}*/