/* custom styles <------- need remove in future */
.popup-offer {

  /* preview states */
  &.mobile {
    .pp-popup__header { padding-right: 45px }
    .ngdialog-content { max-width: 300px; }
    .inner { overflow: auto; }
  }

  &.tablet {
    .pp-popup__header { padding-right: 45px }
    .ngdialog-content { max-width: 700px; }
    .inner { overflow: auto; }
  }

  &.desktop {
    .pp-popup__header { padding-right: 45px }
    .inner { overflow: auto; }
  }
}