    $ad-carousel__gray-arrow-left = 0px 44px 0px -44px 8px 18px 8px 85px 'sprite.png';
    $ad-carousel__gray-arrow-right = 0px 67px 0px -67px 8px 18px 8px 85px 'sprite.png';
    $ad-carousel__white-arrow-left = 0px 0px 0px 0px 8px 17px 8px 85px 'sprite.png';
    $ad-carousel__white-arrow-right = 0px 22px 0px -22px 8px 17px 8px 85px 'sprite.png';
