.pp-icon {
  display: inline-block;
  background-repeat: no-repeat;

  /* navigation icons */
  &.purse {
    sprite($purse) }
  &.bank {
    sprite($bank) }
  &.box {
    sprite($box) }
  &.badge {
    sprite($badge) }
  &.human {
    sprite($human) }
  &.round-analytics {
    sprite($round-analytics) }

  &.back {
    sprite($back) }
  &.target {
    sprite($target) }
  &.search {
    sprite($search) }
  &.phone {
    sprite($phone) }
  &.info {
    sprite($info) }
  &.calendar {
    sprite($calendar) }
  &.download {
      sprite($download) }
  &.receipt {
      sprite($receipt) }
  &.money {
    sprite($money) }
  &.setup {
    sprite($setup) }
  &.plus {
    sprite($plus) }
  &.mail {
    sprite($mail) }
  &.disable {
    sprite($disable) }
  &.close {
    sprite($close) }
}