<div class="pp-popup__header">Capital One Spending Data</div>
<div class="pp-popup__inner display-channel-container">
    <div class="panel-scroller" ui-scroll>
        <div class="row">
            <div class="col-md-3 text-center">
                <img pp-src="/assets/img/capital-one.png" alt="Capital One Spending Data"/>
            </div>
            <div class="col-md-9">
                <p>Capital One has unique insight into what consumers buy and where they buy it. In order to help you target your marketing more effectively through Spark Pay, Capital One makes anonymous spend data available for you to consider while you create a campaign. The heatmap data you will see represents where consumers are buying goods and services like the ones you provide. By targeting your ads at those areas, you increase the likelihood of reaching consumers with relevant offers, driving more foot traffic to your store and growing your sales.</p>
            </div>
        </div>
        <a href class="pp-btn lgreen pull-right" ng-click="closeThisDialog('confirm')">Got It</a>
    </div>
</div>