<div class="pp-popup__header">Your Marketing Budget</div>
<div class="pp-popup__inner">
    <div class="row clearfix">
        <div class="col-md-3">
            <figure class="img-box">
                <img pp-src="/assets/img/channels/purse.png"/>
            </figure>
        </div>

        <div class="col-md-9 description">
            <p>
                Paid Offers is new to Spark Pay and we are still in test mode. For now, the maximum you can spend on all your ads is $100.
                <strong>{{::ngDialogData.message}}</strong>
            </p>

            <p>Please adjust your campaigns to fit the $100 maximum budget.</p>
        </div>
    </div>
    <div class="row-buttons">
        <a href="" class="pp-btn lgreen flr" ng-click="closeThisDialog()">Got It</a>
    </div>
</div>