<div class="pp-popup__header">Spending Data</div>
<div class="pp-popup__inner">
    <div class="row">
        <figure class="col-xs-12 col-sm-3 img-box">
            <img pp-src="assets/img/capital-one.png" alt=""/>
        </figure>
        <div class="col-xs-12 col-sm-9 description">
            We have unique insight into what consumers buy and where they buy it.
            In order to help you target your marketing more effectively through Spark Pay,
            we make anonymous spending data available while you create a campaign.
            The heatmap data you will see represents where consumers are buying goods and services like the ones you provide.
            By targeting your ads at those areas, you increase the likelihood of reaching consumers with relevant offers,
            driving more foot traffic to your store and growing your sales.
        </div>
    </div>
    <div class="row-buttons">
        <a href="" class="pp-btn lgreen" ng-click="closeThisDialog(0)">Go It</a>
    </div>
</div>