<div class="btn-group">
    <button class="btn btn-small" ng-model="statusFilter" btn-radio="''" uncheckable>All Offers</button>
    <button class="btn btn-small" ng-model="statusFilter" btn-radio="'Incomplete'" uncheckable>Incomplete
    </button>
    <button class="btn btn-small" ng-model="statusFilter" btn-radio="'Active'" uncheckable>Active
    </button>
    <button class="btn btn-small" ng-model="statusFilter" btn-radio="'Expired'" uncheckable>Expired
    </button>
    <button class="btn btn-small" ng-model="statusFilter" btn-radio="'Deleted'" uncheckable>Deleted
    </button>
</div>


<!--<div class="btn-group" dropdown>-->
    <!--<button type="button" class="btn btn-danger">Action</button>-->
    <!--<button type="button" class="btn btn-danger dropdown-toggle">-->
        <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li ng-repeat="f in fields" st-sort="(f.name ? f.name : f)"><a href>{{f.title ? f.title : (f | humanize)}}</a></li>-->
        <!--&lt;!&ndash;<li st-sort="acceptsCount"><a href>Accepts</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li st-sort="redeemsCount"><a href>Redeems</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li st-sort="sharesCount"><a href>Shares</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li st-sort="viewsCount"><a href>Views</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li st-sort="createdDate"><a href>Created Date</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li st-sort="startTime"><a href>Start Time</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li st-sort="endTime"><a href>End Time</a></li>&ndash;&gt;-->
    <!--</ul>-->
<!--</div>-->