.ovv{overflow: visible} .ovh{overflow: hidden} .ova{overflow: auto} .ovs{overflow: scroll}
.ttu{text-transform: uppercase}.ttl{text-transform: lowercase}.ttc{text-transform: capitalize}.ttn{text-transform: none}
.wa{width: auto !important;}.w100{width:100% !important;}
.ha{height:auto !important;}.h100{height:100% !important;}
.di{display:inline !important} .db{display:block !important} .dib{display:inline-block !important} .dn{display:none !important}
.bdn{border:none !important} .bdtn{border-top:none} .bdrn{border-right:none} .bdbn{border-bottom:none} .bdbn{border-bottom:none}
.fwb{font-weight:bold} .fwn{font-weight:normal}
.fsi{font-style:italic} .fsn{font-style:normal}
.tac{text-align:center}.tal{text-align:left} .tar{text-align:right} .taj{text-align:justify}
.vam{vertical-align:middle} .vat{vertical-align:top} .vab{vertical-align:bottom} .vabs{vertical-align:baseline}

.fll{float:left} .flr{float:right} .fln{float: none}
.posr {position: relative !important;}
.clear {clear: both}
.crs-point {cursor: pointer;}
.usn {-moz-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;}
.brr0 {border-radius: 0 !important;}

.m30{margin:30px !important} .mt30{margin-top:30px !important} .mr30{margin-right:30px !important} .mb30{margin-bottom:30px !important} .ml30{margin-left:30px !important}
.m25{margin:25px !important}.mt25{margin-top:25px !important} .mr25{margin-right:25px !important} .mb25{margin-bottom:25px !important} .ml25{margin-left:25px !important}
.m20{margin:20px !important}.mt20{margin-top:20px !important} .mr20{margin-right:20px !important} .mb20{margin-bottom:20px !important} .ml20{margin-left:20px !important}
.m15{margin:15px !important}.mt15{margin-top:15px !important} .mr15{margin-right:15px !important} .mb15{margin-bottom:15px !important} .ml15{margin-left:15px !important}
.m10{margin:10px !important}.mt10{margin-top:10px !important} .mr10{margin-right:10px !important} .mb10{margin-bottom:10px !important} .ml10{margin-left:10px !important}
.m5{margin:5px !important}.mt5{margin-top:5px !important} .mr5{margin-right:5px !important} .mb5{margin-bottom:5px !important} .ml5{margin-left:5px !important}
.m0{margin:0 !important} .mt0{margin-top:0 !important} .mr0{margin-right:0 !important} .mb0{margin-bottom:0 !important} .ml0{margin-left:0 !important}

.p30{padding:30px !important} .pt30{padding-top:30px !important} .pr30{padding-right:30px !important} .pb30{padding-bottom:30px !important} .pl30{padding-left:30px !important}
.p25{padding:25px !important}.pt25{padding-top:25px !important} .pr25{padding-right:25px !important} .pb25{padding-bottom:25px !important} .pl25{padding-left:25px !important}
.p20{padding:20px !important}.pt20{padding-top:20px !important} .pr20{padding-right:20px !important} .pb20{padding-bottom:20px !important} .pl20{padding-left:20px !important}
.p15{padding:15px !important}.pt15{padding-top:15px !important} .pr15{padding-right:15px !important} .pb15{padding-bottom:15px !important} .pl15{padding-left:15px !important}
.p10{padding:10px !important}.pt10{padding-top:10px !important} .pr10{padding-right:10px !important} .pb10{padding-bottom:10px !important} .pl10{padding-left:10px !important}
.p5{padding:5px !important}.pt5{padding-top:5px !important} .pr5{padding-right:5px !important} .pb5{padding-bottom:5px !important} .pl5{padding-left:5px !important}
.p0{padding:0 !important} .pt0{padding-top:0 !important} .pr0{padding-right:0 !important} .pb0{padding-bottom:0 !important} .pl0{padding-left:0 !important}
