.pp-icon {
  display: inline-block;
  background-image: url(../assets/img/sparkpay/sprites/spritesNavDb.png);
  background-repeat: no-repeat;

  &.back {
    width: 11px;
    height: 12px;
    background-position: -6px -479px;
  }

  &.target {
    width: 18px;
    height: 18px;
    background-position: -3px -427px;
  }
}