<div class="row">
    <div class="col-xs-12 col-sm-6 description">
        <p>
            Promoting your business is easy with offers.  In just a few simple steps, you’ll be able to share an offer with the world and attract new & returning customers.
        </p>
        <p>
            <strong>1. Create an offer</strong>
            In a single screen, you will be able to create a promotional landing page that will entice shoppers to visit your business.
        </p>

        <div class="clear"></div>

        <div class="row-buttons">
            <button class="pp-btn gray fll" ng-click="back()">Go Back</button>
            <button class="pp-btn lgreen flr" ng-click="next()">Next</button>
        </div>
    </div>
    <figure class="col-xs-12 col-sm-6 img-box">
        <img pp-src="assets/img/offers/tutorial/step-1.png" alt=""/>
    </figure>
</div>