<div class="row">
    <figure class="col-xs-12 col-sm-3 img-box">
        <img pp-src="assets/img/what-offers.png" alt=""/>
    </figure>
    <div class="col-xs-12 col-sm-9 description">
        <p>
            Offers are a simple way to grow your business using online marketing. By bringing popular & effective tools into one place, and connecting them to your sales and commerce data, we make online marketing manageable, measurable, and customizable for your business.
        </p>
        <p>
            You can share offers on Facebook, Twitter, and your own website.  Now, you can also raise your business’s profile and attract new customers with mobile ads.
        </p>
        <p>
            Take the tutorial to find out how.
        </p>

        <div class="clear"></div>

        <div class="row-buttons mt0">
            <button class="pp-btn lgreen flr" ng-click="next()">Start Tutorial</button>
        </div>
    </div>
</div>

