<div class="row">
    <div class="col-xs-12 col-sm-6 description">
        <p>
            <strong>2. Send it out:</strong>
            Consumers’ lives are connected to technology and so are offers.  Post to Facebook and Twitter or create mobile ads that let you hone in on your target customers.  You can add as many channels as you like.
        </p>

        <div class="clear"></div>

        <div class="row-buttons">
            <button class="pp-btn gray fll" ng-click="back()">Go Back</button>
            <button class="pp-btn lgreen flr" ng-click="next()">Next</button>
        </div>
    </div>
    <figure class="col-xs-12 col-sm-6 img-box">
        <img pp-src="assets/img/offers/tutorial/step-2.png" alt=""/>
    </figure>
</div>

