<div class="row">
    <div class="col-xs-12 col-sm-6 description">
        <p>
            <strong>3. Target relevant customers:</strong>
            Use Capital One’s proprietary consumer spend data to only show your ads to consumers who are more likely to buy from you so that you get the most out of your marketing efforts.
        </p>

        <div class="clear"></div>

        <div class="row-buttons">
            <button class="pp-btn gray fll" ng-click="back()">Go Back</button>
            <button class="pp-btn lgreen flr" ng-click="close()">Got It</button>
        </div>
    </div>
    <figure class="col-xs-12 col-sm-6 img-box">
        <img pp-src="assets/img/offers/tutorial/step-3.png" alt=""/>
    </figure>
</div>