    $back = 0px 65px 0px -65px 11px 12px 23px 409px 'sprite.png';
    $badge = 0px 331px 0px -331px 22px 22px 23px 409px 'sprite.png';
    $bank = 0px 258px 0px -258px 18px 19px 23px 409px 'sprite.png';
    $box = 0px 358px 0px -358px 23px 23px 23px 409px 'sprite.png';
    $calendar = 0px 136px 0px -136px 13px 13px 23px 409px 'sprite.png';
    $close = 0px 306px 0px -306px 19px 20px 23px 409px 'sprite.png';
    $disable = 0px 118px 0px -118px 13px 13px 23px 409px 'sprite.png';
    $download = 0px 154px 0px -154px 14px 14px 23px 409px 'sprite.png';
    $human = 0px 282px 0px -282px 18px 19px 23px 409px 'sprite.png';
    $info = 0px 100px 0px -100px 13px 13px 23px 409px 'sprite.png';
    $mail = 0px 15px 0px -15px 15px 11px 23px 409px 'sprite.png';
    $money = 0px 193px 0px -193px 17px 15px 23px 409px 'sprite.png';
    $phone = 0px 173px 0px -173px 9px 15px 23px 409px 'sprite.png';
    $plus = 0px 0px 0px 0px 10px 10px 23px 409px 'sprite.png';
    $purse = 0px 213px 0px -213px 22px 17px 23px 409px 'sprite.png';
    $receipt = 0px 48px 0px -48px 16px 12px 23px 409px 'sprite.png';
    $round-analytics = 0px 386px 0px -386px 22px 23px 23px 409px 'sprite.png';
    $search = 0px 31px 0px -31px 12px 12px 23px 409px 'sprite.png';
    $setup = 0px 82px 0px -82px 14px 13px 23px 409px 'sprite.png';
    $target = 0px 235px 0px -235px 18px 18px 23px 409px 'sprite.png';
