/* setups for popup */
.ngdialog {
  &.popup {
    padding: 5% 0;

    /* close button */
    .ngdialog-close, .ngdialog-manual-close {
      cursor: pointer;

      &:before,
      &:hover:before {
        content: 'X';
        position: absolute;
        top: 13px;
        right: 20px;
        color: #000;
        font: 300 25px / 1 $fontHelvetica;
      }
    }

    /* content */
    .ngdialog-content {
      width: 90%;
      padding: 0;
      height: 100%;
      background: #fff;
      font: 300 13px / 1.2 $fontHelvetica;
      box-sizing: border-box;
    }
  }
}

/* common setups */
.popup {

  &__inner {
    padding: 30px 35px;
  }
}