.pp-popup {
  &.popup-channel-spending-data {
    .ngdialog-content {height: auto;}

    .pp-popup__inner {
      padding: 90px 40px 40px;
    }

    .row {
      clearfix();
    }

    .img-box {
      margin: 0;
      img-box();
      text-align: center;
    }

    .description {
      font: 300 25px/1.2 $fontLato;
      text-align: justify;
    }

    .row-buttons {
      margin-top: 25px;
      text-align: right;
    }

    .pp-btn {
      width: 165px;
      font-weight: 300;
    }
  }
}