<div class="box-images">
    <div class="col-xs-6 item tac">
        <figure class="img-box">
            <img pp-src="/assets/img/channels/start.png"/>
        </figure>
        <a class="pp-btn lgreen"
           ng-click="next()">
            Start Campaign
        </a>
    </div>

    <div class="col-xs-6 item tac">
        <figure class="img-box">
            <img pp-src="/assets/img/channels/later.png"/>
        </figure>
        <a class="pp-btn lgreen" ng-click="finish()">
            Save for Later
        </a>
    </div>
</div>

<div class="tac">
    <button class="pp-btn dgray" ng-click="prev(true)">Go Back</button>
</div>
