<div class="popup-send-data">
    <form class="form">
        <div class="control-group">
            <label class="control-label" for="email">
                <strong>Email address</strong>
            </label>
            <div class="input-group">
                <input class="form-control" id="email" type="text"
                       placeholder="Email" ng-model="email">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btnText" type="button"
                            ng-click="closeThisDialog(email)">Send</button>
                </span>
            </div>
        </div>
    </form>
</div>
