<div class="row">
    <div class="col-md-12 center">
        <div class="gallery-grid big">
                <span ng-repeat="image in controls.importedImages">
                    <img ng-src="{{image.url || image.base64}}"/>
                    <div>
                        <button class="pp-btn small lgreen" ng-click="vm.select(image)">Select</button>
                        <!--<button class="pp-btn small blue" ng-click="vm.edit(image)">Edit</button>-->
                        <!--<button class="pp-btn small red" ng-click="vm.remove(image)">Remove</button>-->
                    </div>
                </span>
        </div>
    </div>
</div>

<div class="gallery-editor" ng-if="editedImage">
    <div class="control-panel">
        <button class="pp-btn lgreen" ng-show="editedImage.isNew()" ng-click="uploader.uploadAll()">Upload</button>
        <button class="pp-btn red" ng-show="!editedImage.isNew()">Delete</button>
    </div>
    <figure class="img-editor">

        <img src="{{controls.editedbase64}}">

        <div class="preview"><img ng-src="{{controls.resultbase64}}"/></div>
        <!--<div class="ad-preview thumb" ng-if="uploader.isHTML5" ng-thumb="{ file: editedImage.getFile(), height: 320, width: 182 }"></div>-->
    </figure>
</div>