<div id="introduction" style="display: block;">
    <div class="row">
        <div class="col-md-12">
            <h1>Introducing Offers</h1>

            <p class="mast">Offers allows you the freedom and control to create, manage and analyze offers for your
                customers - when and how you want, without fees or limitations.</p>
        </div>
    </div>

    <div class="offers-steps">
        <div class="row offers-steps-image">
            <div class="col-md-12"><img pp-src="/assets/img/offers/welcome.png"></div>
        </div>
        <div class="row offers-steps-info">
            <div class="col-md-3"><h3>Create</h3>

                <p>Quickly build your offer using our simple tool</p></div>
            <div class="col-md-3"><h3>Distribute</h3>

                <p>Send your offers to your customers via email, Facebook or Twitter</p></div>
            <div class="col-md-3"><h3>Redeem</h3>

                <p>You can redeem these offers with your Spark Pay mobile app once the customer presents it in a print
                    or digital form</p></div>
            <div class="col-md-3 last"><h3>Track</h3>

                <p>Check the performance of your offer with our easy-to-use analytics tool</p></div>
        </div>
    </div>
    <div class="row getstarted">
        <div class="col-md-12">
            <a ui-sref="ppp.offer.list.item.edit({id: 'new'})"
               class="pp-btn lgreen block">Create Your First Offer Now!</a>
        </div>
    </div>
    <div class="row">
        <div class="twelvecol">&nbsp;</div>
    </div>
</div>