<df-selectbox ng-model="values"
              name="targetedCategoryIds"
              type="multi"
              allow-empty="false"
              allow-filter="true"
              filter="iabFilter"
              placeholder="Second Level">
    <option-item class="sub-item"
                 ng-repeat="opt in targeted_categories | filter: iabFilter"
                 label="opt.description"
                 value="opt.id">
        <span>{{opt.description}}</span>
    </option-item>
</df-selectbox>