<div class="impressed">
    <div class="note">
        <h2 style="margin-left:-7px; margin-right:-7px; margin-bottom:10px;">
            <small>Most popular items:</small>
        </h2>
        <div class="popularItem">
            <span class="left">
                <img src="./Spark Pay Transactions_files/bag1.jpg" alt="Name of Bag"/>
            </span>
            <span class="right">
                <strong>Alfani Brown 19213</strong>
                <p>A brown Alfani Bag that has accents on the side...</p>
                <em>345.59</em><span>+tax</span>
            </span>
        </div>
    </div>
</div>